/* colors: 
navy: #0D4650;
blue: #12BDD1;
cream: #FFF7E9;
tan: #F2C894;
brown: #A6785D;
black: #090909;
white: #fff; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #0D4650;
  background-color: #fff;
  font-family: Calibri, Arial, Helvetica, sans-serif;
}

.container {
  max-width: 400px;
  margin: auto;
}

/* Base Font properties */
h1 {
  font-size: 2.5rem;
  color: #0D4650;
  font-weight: 700;
}

h2 {
  font-size: 2.2rem;
  color: #a6785D;
  font-weight: 300;
  text-transform: uppercase;
}

h3 {
  font-size: 1.8rem;
  font-weight: 700;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  font-weight: 1em;
}


header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  height: 85px;
  background-color: #FFF7E9;
  display: flex;
  justify-content: space-between;
}
footer {
  background-color: #fff7e9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  font-family: Calibri, Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppsercase;
  text-decoration: none;
  color: #0D4650;
}

.navbar a:hover {
  color: #A6785D;
}

#brand {
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
#brand a {
  color: #0D4650;
}

/* svg */
.logo {
  width: 75px;
  height: 75px;
  padding-top: 10px;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

a.svg {
  position: relative;
  display: inline-block;
}
a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* images */

img {
  width: 100%;
  max-width: 900px;
}

.bra-image {
  width: 100%;
  max-width: 900px
}

/* Section Classes */
.content {

}

.masthead {

}
.home {
  
}

.gallery {

}

.prices{

}

.pricing{

}

.cards {
  display: flex;
  justify-content: space-between;
}
.cards .title {
  font-size: 2.5rem;
  color: #A6785D;
}

.img-container {
  float: left;
  width: 40%;
  padding: 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* section class across all pages */
.things{

}

/* button class across all pages */
.button a{
   background-color: white;
   border:none;
   color:rgb(0, 0, 0);
   padding: 15px 32px;
   text-align:center;
   text-decoration:none;
   display:inline-block;
   font-size: 14px;
  transition-duration: 0.25s;
   
}

.button:hover a{
  background-color: darkgreen;
}

.button a:visited{
  color:black;

}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  header.primary nav ul{
    flex-direction:column;
    justify-content:space-between;
    }

    header.primary nav li{
      margin-bottom:10px;
      }
.directions {
  display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  header.primary nav ul{
    flex-direction:column;
    justify-content:space-between;
    }

    header.primary nav li{
      margin-bottom:20px;
      }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  header.primary nav ul{
    flex-direction:column;
    justify-content:space-between;
    }

    header.primary nav li{
      margin-bottom:30px;
      }
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  header.primary nav ul{
    flex-direction:column;
    justify-content:space-between;
    }

    header.primary nav li{
      margin-bottom:40px;
      }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  header.primary nav ul{
    flex-direction:column;
    justify-content:space-between;
    }

    header.primary nav li{
      margin-bottom:60px;
      }
}
