/* colors: 
navy: #0D4650;
blue: #12BDD1;
cream: #FFF7E9;
tan: #F2C894;
brown: #A6785D;
black: #090909;
white: #fff; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #0D4650;
  background-color: #fff;
  font-family: Calibri, Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}

/* Base Font properties */
h1 {
  font-size: 3.7rem;
  color: #12bdd1;
  font-weight: 700;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #0d4650;
}

h2 {
  font-size: 2.2rem;
  color: #fff7e9;
  font-weight: 300;
  text-transform: uppercase;
}

h3 {
  font-size: 1.8rem;
  font-weight: 700;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  font-weight: 1em;
  line-height: 1.5;

}

header a {
  text-decoration: none;
}

header {
  padding: 10px 20px;
  height: 125px;
  background-color: #fff7e9;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

#brand {
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
#brand a {
  color: #0D4650;
}

.brand2 {
margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.primary ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 3;
}

.primary ul a {
  color: #0D4650;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
}
.primary ul li {
  padding: 30px 10px;
}

.foot ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
flex-wrap: wrap;
  z-index: 3;
}

.foot ul a {
  color: #0D4650;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
}
.foot ul li {
  padding: 30px 10px;
  flex-basis: 50%;
}

.bttn {
  color:#A6785D;
  border: 2px solid #A6785D;
  background-color: #FFF7E9;
  padding: 5px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-top: 20px;
}
.bttn2 {
  color:#A6785D;
  border: 2px solid #A6785D;
  background-color: #FFF7E9;
  padding: 5px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-top: 20px;
}
.bttn2 a:hover {
  border: #0d4650;
  color:#12bdd1;
}

/* Mobile Menu*/
.fadeInDown {
  opacity: 1 !important;
  transform: translateY(40px) !important;
}

#menu-btn {
  position: absolute;
  top: 50px;
  right: 20px;
  padding: 10px 20px;
  border: 1px solid transparent;
  /* To avoid icon movement on hover */
  font-weight: 300;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: border-color 0.3s;
  transform: translateY(-50%);
}
#menu-btn i {
  margin-left: 10px;
}
#menu-btn:hover {
  cursor: pointer;
  border-color: #fff;
}

#menu__panel {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  z-index: 9999;
  background-color: #FFF7E9;
  box-shadow: -2px 2px 20px rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transform: translateX(300px);
  transition: transform 0.5s;
}

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  top: 40px;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-item {
  width: 100%;
  height: 60px;
  opacity: 0;
  transform: translateY(0);
  transition: all 0.3s;
  font-weight: 700;
  font-size: 1.4rem;
}
.menu-item:hover {
  background-color: #F2C894;
}
.menu-item i {
  margin: 0 10px;
}
.menu-item a {
  display: inline-block;
  width: 100%;
  height: 70px;
  padding-left: 50px;
  line-height: 70px;
}

.menu__close {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  transition: transform 0.5s;
}
.menu__close:hover {
  cursor: pointer;
}

/* SVG & images */
img {
  width: 100%;
}

.logo {
  width: 100px;
  height: 100px;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

a.svg {
  position: relative;
  display: inline-block;
}
a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.pricing{
  margin: 20px;
}

.pricing h3{
  padding-bottom: 20px;;
}


.pricing ul{
  margin-right:200px;
  list-style:none;
  padding: 20px;
  
}

.pricing p{
  padding-bottom: 15px;
  
}

.button{
  display: inline-block;
  padding: 5px 15px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #0D4650;
  background-color: #F2C894;
  border: none;
  border-radius: 15px;

}

.button:hover {background-color: #A6785D;}

.button:active {
  background-color: #FFF7E9;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.plan{
  margin:20px;
}

.adv{
  margin-top: 10px;;
}

.cabli{
  margin-top: 20px;
  margin-bottom: 20px;;
}

.cab2{
  margin-top:155px;
}

.cab2 p{
  padding: 10px;
}

.cab3 ul{
  margin: 195px;
  list-style: none;
  padding:20px;
  
}

#ambtn{
  margin: 30px;
}

.cabpic1{
  max-width: 300px;
  max-height: 200px;
}

.cabbutton{
  padding:5px;
}

.clip1{
  margin: 50px;
}

/* cabin gallery*/
div.cabgallery {
  margin: 5px;
  border: 1px solid #A6785D;
  float: left;
  width: 180px;
}

div.cabgallery:hover {
  border: 1px solid #777;
}

div.cabgallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}




/* Section Mastheads*/

#homemast {
  position: relative;
  top: 100px;
  background-image: url("../img/canoe1.webp");
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

#explorehead {
  position: relative;
  top: 100px;
  background-image: url("../img/canoe1.webp");
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

#arts {
  display:flex;
  justify-content: space-evenly;
  padding-top: 50px;
  gap: 20px;
  margin-bottom: 20px;
}
#arts > * {
  flex: 1;
}

#arts a, #arts a:active, #arts a:visited {
  color: #fff7e9;
  text-decoration: underline;
}

.things {
  background-color:#A6785D;
  border-radius: 25px;
  padding:10px;
}

#arts .things h4 {
  text-align: center;
  color: #fff7e9;
}

#advmast {
  position: relative;
  top: 2px;
  background-image: url("../img/group1.webp");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

#cabmast {
  position: relative;
  top: 100px;
  background: url("../img/cabins/bear-ridge-2.webp") no-repeat center/
  cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

}

#levelhead {
  top: 100px;
  position: relative;
  background-image: url("../img/overlook1.webp");
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

#abtmast {
top: 100px;
position: relative;
  background-image: url("../img/overlook3.webp");
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

#resmast{
  top: 100px;
  position: relative;
    background-image: url("../img/overlook3.webp");
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  } 



.masthead {
  background: rgba(255, 247, 233, 0.4);
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 45rem;
  padding: 15rem 0;
}
.masthead h1 {
  text-align: center;
}
.masthead h2 {
  text-align: center;
}
.masthead p {
  text-align: center;
}
.masthead .mast-title {
  padding: 10em;
}



.img-container {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  gap: 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.content, .home-content {
  width: 100%;
  max-width: 95vw;
  margin: auto;
}

.levels {
  position: relative; 
  height:75vh; 
  width:80vw;
}
.gallery {
  padding: 5rem 0;
  display: flex;
  margin: auto;
}
.gallery col {
  padding-bottom: -5px;
}
.wrapper {
  align-content: center;
  flex-wrap: wrap;
  flex: 1;
}


/* cards */
.home {
  padding: 150px 0;
}

.cards {
  width: calc(100% - 2em);
  display: grid;
  margin: auto;
  width: 100%;
  grid-gap: 1em;
  grid-template-areas: "a" "b" "c" "d" "e";
}

.card {
  width: 100%;
  position: relative;
  transition: all 0.25s ease;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.card:last-child {
  margin-bottom: 0;
}
.card:before {
  height: 0;
  content: "";
  display: block;
  padding-bottom: 47.36%;
}
.card.content:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  content: "";
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
}
.card:nth-child(1) {
  grid-area: a;
}
.card:nth-child(2) {
  grid-area: b;
}
.card:nth-child(3) {
  grid-area: c;
}
.card:nth-child(4) {
  grid-area: d;
}
.card:nth-child(5) {
  grid-area: e;
}
.card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-title {
  position: relative;
  color: #FFF7E9;
  text-align: center;
  font-weight: 700;
  z-index: 5;
  font-size: 1.5em;
  top: 45%;
  text-transform: uppercase;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
}

.card:hover .form-title:before {
  filter: blur(3px);
  opacity: 0.7;
}

.direccon{
  margin-top: 50px;
}

.direccon .button{
  margin: 20px;
}

.content h3{
  padding-bottom: 10px;
}

.content h4{
 padding-bottom: 22px;
}

.content p{
  padding-bottom: 10px;
}



/* footer */
footer {
  background-color: #FFF7E9;
  padding: 5rem 0;
  display: grid;
  width: calc(100% - 2em);
  margin: auto;
  width: 100%;
  grid-gap: 1em;
  grid-template-areas: "f g h i";
  grid-auto-columns: minmax(0,1fr);
  align-items: center;
}
footer .directions {
  position: relative;
  padding-bottom: 40%;
  height: 0;
  overflow: hidden;
}
footer:nth-child(1) {
  grid-area: f;
}
footer:nth-child(2) {
  grid-area: g;
}
footer:nth-child(3) {
  grid-area: h;
}
footer:nth-child(4) {
  grid-area: i;
}
footer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 75% !important;
  height: 100% !important;
}
footer p {
  line-height: 2;
  margin:auto;
}

.footer-nav ul{
   list-style: none;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  nav.primary {
    display: none;
  }

  .masthead .mast-title {
    padding: 4em 2em;
  }

  iframe {
    max-width: 100%;
    width: 400px;
  }
  .col-2 {
    display: none;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .directions iframe {
    display: none;
  }
  footer {
    width: calc(100% - 2em);
    margin: auto;
    width: 100%;
    grid-gap: 1em;
    grid-template-areas: "f" "g" "h" "i";
    grid-template-rows: repeat (4, 1fr);
    align-items: center;
  }

  .address{
    text-align: center;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #menu-btn {
    display: none;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .content {
    max-width: 860px;
  }
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    grid-template-areas: "a b e e" "c d e e";
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width:1200px){
  .content {
    max-width: 900px;
  }
}

@media only screen and (min-width: 2400px){
  .content {
    max-width: 1400px;
  }

  .home-content {
    max-width: 2000px;
  }
  h1 {
    font-size: 10rem;
  }
}